.card span,
.card p {
  margin: 0;
  padding: 0;
}

.card {
  width: 350px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.name-tag {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.name-tag p {
  text-align: center;
  padding: 3px 9px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.btn-container button {
  padding: 6px 12px;
  background-color: #0055aa;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 11px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, box-shadow 0.2s;
}
