.tables-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.btn-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.btn-input-container input {
  border-radius: 18px;
  text-align: center;
}

.btn-input-container input::placeholder {
  text-align: center;
}

.btn-input-container button {
  height: 48px;
  width: 143px;
  border-radius: 5px;
  background-color: #212a31;
  color: white;
  border: none;
  cursor: pointer;
}
